body{
    background-image: url("https://i.pinimg.com/originals/0f/1f/9c/0f1f9cb5f45decd602053378cb67f17f.jpg")
}

h1{
    color: #eb8c9a;
}

button{
    background-color: gold;
    color: ;
}